.slider-arrows {
  display: inline-block;
  margin-left: 10px;
}

.slider-arrow {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  margin-left: 6px;
  outline: none;
  text-align: center;
  width: 18px;
}
