.modal-mask {
  background-color: rgba(128, 128, 128, 0.5);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: left;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 9998;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-body {
  margin: 20px 0;
}

.modal-button {
  background-color: #409eff;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  outline: none;
  padding: 9px 15px;
}
