@import './vars';

:global {
  html {
    color: #2c3e50;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
  }

  body {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  input,
  button {
    background: none;
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
  }

  .book-tag-active {
    background: $book-color;
  }

  .book-tag-hover {
    &:hover {
      background: $book-color;
    }
  }

  .movie-tag-active {
    background: $movie-color;
  }

  .movie-tag-hover {
    &:hover {
      background: $movie-color;
    }
  }

  .slider-right-enter {
    transform: translateX(100%);
  }

  .slider-right-enter-active {
    transform: translateX(0%);
    transition: transform 0.5s ease;
  }

  .slider-right-exit {
    transform: translateX(0%);
  }

  .slider-right-exit-active {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }

  .slider-left-enter {
    transform: translateX(-100%);
  }

  .slider-left-enter-active {
    transform: translateX(0%);
    transition: transform 0.5s ease;
  }

  .slider-left-exit {
    transform: translateX(0%);
  }

  .slider-left-exit-active {
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-exit-active {
    opacity: 0;
  }

  .modal-container {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 30px;
    transition: all 0.3s ease;
    width: 300px;
    zoom: 1;
  }

  .modal-enter {
    .modal-container {
      transform: scale(1.1);
    }
  }

  .modal-exit-active {
    .modal-container {
      transform: scale(1.1);
    }
  }
}
