@import './vars';

:global {
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  input,
  button {
    background: none;
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
  }

  .book-tag-active {
    background: $book-color;
  }

  .book-tag-hover {
    &:hover {
      background: $book-color;
    }
  }

  .slider-right-enter {
    transform: translateX(100%);
  }

  .slider-right-enter-active {
    transform: translateX(0%);
    transition: transform 0.5s ease;
  }

  .slider-right-exit {
    transform: translateX(0%);
  }

  .slider-right-exit-active {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }

  .slider-left-enter {
    transform: translateX(-100%);
  }

  .slider-left-enter-active {
    transform: translateX(0%);
    transition: transform 0.5s ease;
  }

  .slider-left-exit {
    transform: translateX(0%);
  }

  .slider-left-exit-active {
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
}
