@import '../../../../assets/styles/mixin';

.book-item {
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 30px;
  overflow: hidden;
  vertical-align: middle;
  width: 310px;
}

.book-image {
  float: left;
  height: 137px;
  margin-right: 18px;
  width: 95px;
}

.book-title {
  @include common-title;
  margin-bottom: 6px;
}

.score-image {
  @include score-image('../../../../assets/images/scoring.png');
}

.average-score {
  color: #e09015;
  margin-left: 6px;
}

.book-more-info {
  margin-right: 20px;

  p {
    margin: 4px 0;
  }
}

.book-details {
  clear: both;
  padding: 15px 0 3px;
}
